@use 'base';
@mixin mixarticle {
    border-color: base.$color3g;
    color: base.$color2b;
}


%hextender  {
    color: base.$color3g;
    border-bottom: 2px solid base.$color2b;
    font-weight: 900;
}




div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid base.$color1r;
    padding: 0.7%;

    h1{
       @extend %hextender;
    }

    h2 {
        @extend %hextender;
        border: 1px solid base.$color1r;
        padding: 1rem;
    }


    section{
        display: flex;
        flex-direction: row;
        padding-bottom: 10px;
    }

    article {
     @include mixarticle;
        border: 1px solid base.$color3g;
        text-align: center;
        
    }


    .final-section {
        justify-content: center;
        width: 100%;
        
            article { 
                width: 100%;
                padding: 0.5%;            }
           p { font-size: 24px;
                padding-left: 2%;
                padding-right: 2%;
                color:base.$color3g;


        }
    }    
}

#art2 {
    color: base.$color1r;
}